html, body {
    height: 100%;
    margin: 0;
  }
  
  .caja {
    width: 100%;
    height: 30%;
    background-color: #b11717;
  }
  .titulo{

    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    width: 100%;
}
.menu{
    position: relative;
    left: 2%;
    position: absolute;
    margin-top: 10px;
    font-size: 2rem;
}
.ofertas{
    position: relative;
    left: 25%;
    position: absolute;
    margin-top: 10px;
    font-size: 2rem;
 
}
.registrarse{
    position: relative;
    left: 50%;
    position: absolute;
    margin-top: 10px;
    font-size: 2rem;
}
.buscador{
    position: relative;
    margin-top: 10px;
    font-size: 2rem;
    left: 100%;
}
.buscadort{
    position: relative;
    margin-top: 10px;
    font-size: 1rem;
    left: 60rem;
}